@{
    ViewData["Title"] = "Home Page";
    var systemversion = System.Environment.OSVersion.ToString();
    var csharpversion = System.Environment.Version.ToString();
    var versioninfo = System.Environment.MachineName.ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>The time on the server is @ViewData["timenow"]</h2>
    <h2>欢迎访问本系统。</h2>
    <p>You are @ViewData["username"] from @ViewData["departname"]</p>
    <p>Build with .NET Core @csharpversion</p>
</div>



